<%- include('../paritals/header'); %>
<h1>My Dogs Page</h1>

<a href="/dogs/new" class="btn-floating btn-large waves-effect waves-light green"><i class="material-icons">add</i></a>

<%- include('../paritals/footer'); %>