<%- include('../paritals/header'); %>
<h2><%= user.name %>'s Cats</h2>
<a href="/cats/new"class="btn-floating btn-large waves-effect waves-light green"><i class="material-icons">add</i></a>

<%- include('../paritals/footer'); %>