<%- include('../paritals/header'); %>
<h1>My Cats Page</h1>
<a href="/cats/new"class="btn-floating btn-large waves-effect waves-light green"><i class="material-icons">add</i></a>

<%- include('../paritals/footer'); %>