<h1>Add a book:</h1>
<form action="/books/add" method="POST">
    Title: <input type="text" name='title'>
    Author: <input type="text" name='author'>
    <button type='submit'>Add Book</button>
</form>